.habilidades-seccion {
  background-color: black;
  padding-block: 4rem;
}

.habilidades-seccion h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5rem;
}

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .habilidades {
    flex-direction: row;
  }
}

.habilidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habilidad:hover .habilidad-img {
  transform: scale(1.05);
}

.habilidad-img {
  width: 35%;
  transition: transform 0.3s ease-in-out;
}

.habilidad:hover .habilidad-text {
  transform: scale(1.1);
}

.habilidad p {
  font-size: 1.2rem;
  color: white;
  transition: transform 0.3s ease-in-out;
}
