.nav  {
    background-color: #020062;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-block: 1rem;
    align-items: center;
    padding-inline: 1rem;
}

@media (min-width: 560px) {
    .nav {
        padding-inline: 4rem;
        flex-direction: row;
    }
}

.nav-links {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    font-size: 0.9rem;
}

@media (min-width: 560px) {
    .nav-links {
        font-size: 1.1rem;
    }
}

.nav-links a {
    cursor: pointer;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #c7c6c6;
}